---
import { designwork } from "../../data/designwork.json";
import { devwork } from "../../data/devwork.json";
---

<section class="scroll-mt-24" id="services">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div
      class="col-span-full lg:col-span-2 w-full rounded-4xl h-full items-center inline-flex text-black"
    >
      <h2 class="text-3xl tracking-tighter font-light">What's on tap.</h2>
    </div>
    <div class="divide-y divide-white/10 mt-8">
      {
        devwork.map((template) => (
          <>
          <span class="font-medium leading-6 text-zinc-500 text-sm flex flex-wrap gap-2 items-center">
          {template.title}
          </span>

          </>
        ))
      }
    </div>

  </div>
</section>
