---
import Intro from "./Intro.astro";
import Work from "./Work.astro";
import How from "./How.astro";
import Testimonials from "./Testimonials.astro";
import Faq from "./Faq.astro";
import Pricing from "./Pricing.astro";
import Cta from "./Cta.astro";
import Footer from "./Footer.astro";
---

<section class="overflow-hidden relative">


  <div class="p-4 lg:p-8 lg:pb-24 max-w-7xl mx-auto relative mt-20 md:mt-0">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <Intro />
      <Work />
      <How />
      <Testimonials />
      <Pricing />
      <Faq />
      <Cta />
      <Footer />
    </div>
  </div>
</section>
