<section>
  <div class="p-8 bg-blue-500 h-full items-center flex flex-col justify-center rounded-3xl text-center">
    <h2 class="text-3xl tracking-tighter text-balance  font-display md:text-4xl xl:text-5xl text-white">
      Subscribe to Gurido's web development services and enjoy unmatched flexibility and quality
    </h2>
    <p class="mt-4 text-base text-zinc-300 text-balance mx-auto">
     Get started today and make your digital vision a reality.
    </p>
    <div class="flex mt-8 justify-center">
      <a
        href="#pricing"
        class="rounded-xl px-8 h-16 border py-2 font-semibold transition-all text-xl flex items-center justify-between bg-white text-gray-600 border-gray-300 focus:ring-2  focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300"
        >Get started today
      </a>
    </div>

  </div>
</section>
