<section
  class="md:px-12 sm:px-8 relative  border-zinc-700 scroll-mt-24 2xl:border-x"
  id="faq"
>
  <div class="border-x border-zinc-700 divide-y divide-zinc-700">
    <div
      class="p-8 lg:p-20 rounded-4xl ring-1 ring-zinc-700 lg:rounded-[3rem] overflow-hidden"
    >
      <span class="text-accent-400"> FAQ</span><h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white"
      >
        The answers to the most <span class="block text-zinc-400"
          >popular frequent questions
        </span>
      </h2>
      <p class="mt-5 text-white">
        Can't find your answer? Send and <a
          class="text-accent-400 hover:text-white duration-200"
          href="mailto:michael@monomod.studio">email</a
        > and Monomod will get back to you .
      </p>
    </div>
    <div

      x-data="{selected:null}"
    >
      <ul class="list-none text-white" role="list" @click="open = !open">
        <li class="relative border-zinc-700 border-b">
          <button
            class="w-full p-8 lg:px-20 text-left"
            @click="selected !== 1 ? selected = 1 : selected = null"
            type="button"
          >
            <div class="items-center flex justify-between text-white">
              <p class="text-xl tracking-tighter font-light text-white">
                Why wouldn't I just hire a full-time designer?
              </p>
              <svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
            x-ref="container1"
          >
            <div class="text-sm text-zinc-400 lg:text-lg p-8 lg:px-20">
              Good question! For starters, the annual cost of a full-time
              senior-level designer now exceeds $100,000, plus benefits (and
              good luck finding one available). Aside from that, you may not
              always have enough work to keep them busy at all times, so
              you're stuck paying for time you aren't able to utilize. With
              the monthly plan, you can pause and resume your subscription as
              often as you need to ensure you're only paying your designer
              when you have work available for them.
            </div>
          </div>
        </li><li class="relative border-zinc-700 border-b">
          <button
            class="w-full p-8 lg:px-20 text-left"
            @click="selected !== 2 ? selected = 2 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-white">
              <p class="text-xl tracking-tighter font-light text-white">
                Is there a limit to how many requests I can have?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-400 lg:text-lg p-8 lg:px-20">
              Once subscribed, you're able to add as many design requests to
              your queue as you'd like, and they will be delivered one by one.
            </div>
          </div>
        </li><li class="relative border-zinc-700 border-b">
          <button
            class="w-full p-8 lg:px-20 text-left"
            @click="selected !== 3 ? selected = 3 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-white">
              <p class="text-xl tracking-tighter font-light text-white">
                How fast will I receive my designs?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 3 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-400 lg:text-lg p-8 lg:px-20">
              On average, most requests are completed in just two days or
              less. However, more complex requests can take longer.
            </div>
          </div>
        </li><li class="relative border-zinc-700 border-b">
          <button
            class="w-full p-8 lg:px-20 text-left"
            @click="selected !== 4 ? selected = 4 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-white">
              <p class="text-xl tracking-tighter font-light text-white">
                Who are the designers?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 4 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-400 lg:text-lg p-8 lg:px-20">
              You might be surprised to hear this, but Dusk is actually an
              agency of one. This means you'll work directly with me, founder
              of Dusk. However, power-ups requests such as animations or
              custom illustrations are provided by partner designers.
            </div>
          </div>
        </li><li class="relative border-zinc-700 border-b">
          <button
            class="w-full p-8 lg:px-20 text-left"
            @click="selected !== 5 ? selected = 5 : selected = null"
            type="button"
            ><div class="items-center flex justify-between text-white">
              <p class="text-xl tracking-tighter font-light text-white">
                How does the pause feature work?
              </p><svg
                class="ml-4 duration-200 h-5 inline rotate-180 transform transition-transform w-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                :class="{'rotate-180': open, 'rotate-0': !open}"
                ><path
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"></path></svg
              >
            </div></button
          ><div
            class="relative overflow-hidden duration-700 max-h-0 transition-all"
            style=""
            x-bind:style="selected == 5 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
            x-ref="container2"
          >
            <div class="text-sm text-zinc-400 lg:text-lg p-8 lg:px-20">
              We understand you may not have enough design work to fill up
              entire month. Perhaps you only have one or two design requests
              at the moment. That's where pausing your subscription comes in
              handy. Billing cycles are based on 31 day period. Let's say you
              sign up and use the service for 21 days, and then decide to
              pause your subscription. This means that the billing cycle will
              be paused and you'll have 10 days of service remaining to be
              used anytime in the future.
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
