<section class="md:px-12 sm:px-8 relative  border-zinc-700 2xl:border-x">
  <div class="border-x border-zinc-700 h-12">

  </div>
</section>
<section class="md:px-12 sm:px-8 relative border-y border-zinc-700 2xl:border-x" style="">
  <div class="border-x border-zinc-700">
    <div
      class=" p-px lg:rounded-[3rem] overflow-hidden bg-gradientTopRight ring-1 ring-zinc-700"
    >
      <div class="bg-black/50 lg:bg-transparent backdrop-blur-3xl ">
        <div
          class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-24 items-center relative 0 w-full"
        >
          <div>
            <span
              class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
            >
              <p>1 Spot left</p>
              <div class="h-2 w-2 rounded-full bg-white"></div>

               <div class="h-2 w-2 rounded-full  border-white/20 border"></div>
            </span>
            <h2
              class="text-5xl mt-12 tracking-tighter font-normal md:text-6xl text-white"
            >
              Design &amp; development <span class="block"
                >subscriptions for startups.</span
              >
            </h2>
          </div>
          <ul
            class="grid grid-cols-1 text-base lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
          >
            <div>
              <p class="text-zinc-300">
                Monomod streamlines the design process with a fixed monthly rate
                and limitless design requests.
              </p>
            </div>
            <div>
              <p class="text-zinc-300">
                Say goodbye to phone calls and extensive contracts; reach out to
                Monomod directly at any time.
              </p>
            </div>
            <em class="col-span-full text-2xl mt-8">
              <p class="text-zinc-300">
                Embrace flexibility, halt or terminate your subscription whenever
                you need. <span class="block text-pink-600"
                  >⏤ No questions asked.</span
                >
              </p>
            </em>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
