<section class=" p-8 relative">
  <div
    class="mx-auto rel 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:pt-48 relative w-full bg-gradientdown rounded-4xl lg:rounded-[3rem]"
  >
    <div class="text-center max-w-4xl lg:mx-auto">
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-white/10"
      >
        <p>One spot left</p>
        <div
          class="h-2 w-2 rounded-full bg-white"
        >
        </div>
        <div class="h-2 w-2 rounded-full  border-white/20 border"></div>
      </span>
      <h2
        class="text-3xl mt-12 tracking-tighter font-light lg:text-6xl text-white font-displa"
      >
        We create websites that <span class="block text-zinc-400"
          >convert visitors into customers</span
        >
      </h2>
      <p class="mt-4 text-base text-white">
        Design and development subscriptions for everyone.
        <span class="italic">
          Pause or cancel
          anytime.
        </span>
      </p>
      <div class="mt-10 flex items-center gap-x-6 justify-center">
        <a
          href="#_"
          class="text-sm py-2 px-4 border focus:ring-2 font-medium rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent"
          >Explore the perks</a
        ><a href="#_" class="text-sm hover:text-accent-200 text-white"
          >Book a call <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>
</section>
