<div id="work"
  class="bg-gray-200 rounded-3xl p-8 flex flex-col items-center justify-center scroll-mt-24"
>
  <div>
    <div>
      <h2
        class="text-2xl tracking-tighter font-light lg:text-7xl text-orange-600  font-display"
      >
        How it works
      </h2>
    </div>
    <div>
      <p class="text-2xl text-black mt-8 xl:text-xl">
        Once you join, you and your crew get an invite to Gurido's Breeew kanban
        board, where you can team up with minimal in real-time. From here, you
        can chat directly with minimal, shooting over as many design requests as
        you fancy.
      </p>
    </div>
  </div>
</div>
