<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-black">
        How it works
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Join us and gain access to our exclusive Breeew kanban board.
        Collaborate with Monomod in real-time, submit your web development
        requests with ease, and engage in direct communication for seamless
        project progression. Expect meticulous attention to every request, with
        unlimited revisions to ensure your landing pages and UI components meet
        your exact standards.
      </p>
    </div>
  </div>
</section>
