<section class="lg:p-8 scroll-mt-24" id="how">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full"
  >
    <div class="text-center">
      <span class="text-blue-400"> How it works</span><h2
        class="text-2xl tracking-tighter mt-6 font-light lg:text-4xl text-white"
      >
        A quick and easy journey to <span class="md:block text-zinc-400"
          >transform your ideas into reality</span
        >
      </h2>
    </div>
    <ul class="grid grid-cols-1 lg:grid-cols-4 gap-3 group h-full mt-12">
      <li class="bg-ebony shadow-inset rounded-3xl p-4">
        <figure>
          <div>
            <span class="text-sm text-white">1</span><p
              class="font-medium leading-6 text-white mt-24"
            >
              Log into the dashboard
            </p><p class="text-xs mt-2 text-zinc-300">
              Start by going the managment dashboard and add your first task.
            </p>
          </div>
        </figure>
      </li><li class="bg-ebony shadow-inset rounded-3xl p-4">
        <figure>
          <div>
            <span class="text-sm text-white">2</span><p
              class="font-medium leading-6 text-white mt-24"
            >
              Design
            </p><p class="text-xs mt-2 text-zinc-300">
              Submit unlimited requests and receive your initial design concept
              within 24 hours.
            </p>
          </div>
        </figure>
      </li><li class="bg-ebony shadow-inset rounded-3xl p-4">
        <figure>
          <div>
            <span class="text-sm text-white">3</span><p
              class="font-medium leading-6 text-white mt-24"
            >
              Development
            </p><p class="text-xs mt-2 text-zinc-300">
              Time to convert the desing into code with Astrojs and Tailwind CSS
            </p>
          </div>
        </figure>
      </li><li class="bg-ebony shadow-inset rounded-3xl p-4">
        <figure>
          <div>
            <span class="text-sm text-white">4</span><p
              class="font-medium leading-6 text-white mt-24"
            >
              Go live
            </p><p class="text-xs mt-2 text-zinc-300">
              After approval, initiate your project launch and witness your
              vision materialize.
            </p>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>
