<section class="lg:p-8 scroll-mt-24" id="how">
  <div
    class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-12 lg:items-end">
      <div>
        <span class="text-accent-400"> How it works</span><h2
          class="text-2xl tracking-tighter mt-6 font-light lg:text-4xl text-white"
        >
          A quick and easy journey to <span class="md:block text-zinc-400"
            >transform your ideas into reality</span
          >
        </h2>
        <div class="mt-5 pt-5 flex border-t border-white/5 w-full">
          <a href="/all-work" class="text-sm justify-between w-full inline-flex items-center hover:text-accent-200 text-white"
            >See more work <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div>
        <p class="text-sm  text-zinc-300">
          After subscribing, you and your team will be invited to Breeew kanban
          board for collaborating with Monomod directly.
          Starting here, you can have direct, one-on-one chats with Monomod and
          submit as many design requests as you want.
          <br /><br />

          We'll close each request one
          by one, and you can request as many revisions as necessary.
        </p>
      </div>

    </div>

  </div>
</section>
