<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
  id="how"
>
  <div class="border-x border-zinc-700">
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-12 lg:items-end p-8 lg:p-20"
    >
      <div>
        <span class="text-accent-400"> How it works</span><h2
          class="text-2xl tracking-tighter mt-6 font-light lg:text-4xl text-white"
        >
          A quick and easy journey to <span class="md:block text-zinc-400"
            >transform your ideas into reality</span
          >
        </h2>
      </div>
      <div>
        <p class="text-sm text-zinc-300">
          After subscribing, you and your team will be invited to Breeew kanban
          board for collaborating with Monomod directly. Starting here, you can
          have direct, one-on-one chats with Monomod and submit as many design
          requests as you want.
          <br /><br />
           We'll close each request one by one, and you can request as many
          revisions as necessary.
        </p>
      </div>
    </div>
  </div>
</section>
