<div class="flex flex-col gap-2">
  <div class="bg-green-600 rounded-3xl p-8">
    <p class="text-3xl leading-6 text-white font-display">Gurido</p>
    <p class="text-sm mt-8 text-white">1 Spots available</p>
    <h2
      class="text-4xl mt-12 tracking-tighter  font-display font-normal md:text-8xl lg:text-6xl xl:text-6xl text-blance text-white">
      Landing Pages & UI elements for new ventures
    </h2>
  </div>
  <div class="bg-blue-400 rounded-3xl p-8 text-xl text-white">
    <div class="space-y-4">
      <p>
        Gurido focuses on building exceptional landing pages and UI components
        using AstroJS and Tailwind CSS for businesses aiming to enhance their
        web presence. Benefit from unlimited builds under a straightforward
        monthly subscription, ensuring direct and hassle-free communication with
        Gurido.
      </p>
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-4 gap-8 my-10 rounded-3 w-full rounded-3xl">
      <div class="items-center flex bg-blue-400 overflow-hidden rounded-2xl">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/lexington.svg"
          alt="Transistor"
          width="158"
          height="48"
        />
      </div>
      <div class="items-center flex bg-blue-400 overflow-hidden rounded-2xl">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/bal.svg"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>
      <div class="items-center flex bg-blue-400 overflow-hidden rounded-2xl">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/devdojo.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
      <div class="items-center flex bg-blue-400 overflow-hidden rounded-2xl">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/calisteniaapp.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
    </div>
    <p>
      Embrace flexibility, Pause or cancel your subscription at any time. <span
        class="text-blue-950">⏤ No questions asked.</span
      >
    </p>
  </div>
</div>
