<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 2xl:border-x"
>
  <div class="border-x border-zinc-700">
    <div
      class=" grid grid-cols-2 gap-px overflow-hidden bg-zinc-700 sm:mx-0 sm:rounded-2xl md:grid-cols-4 "
    >
      <div class="bg-black p-8 sm:p-10">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/lexington.svg"
          alt="Transistor"
          width="158"
          height="48"
        />
      </div>
      <div class="bg-black p-6 sm:p-10 items-center flex">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/bal.svg"
          alt="Reform"
          width="158"
          height="48"
        />
      </div>
      <div class="bg-black p-6 sm:p-10 items-center flex">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/wickedbackgrounds.svg"
          alt="Tuple"
          width="158"
          height="48"
        />
      </div>
      <div class="bg-black p-6 sm:p-10 items-center flex">
        <img
          class="max-h-8 w-full object-contain grayscale"
          src="/devdojo.svg"
          alt="Laravel"
          width="158"
          height="48"
        />
      </div>
    </div>
  </div>
</section>
