<section class="lg:p-8">
  <div
    class="mx-auto 2xl:max-w-7xl py-6 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full"
  >
    <h2 class="text-sm tracking-tighter font-light text-white">
      Trusted by entrepreneurs, makers, <span class="block md:text-zinc-400"
        >creators and Monomod's neighbors.</span
      >
    </h2>
    <div
      class="flex-col text-center mt-5 lg:text-left flex gap-6 lg:gap-24 lg:flex-row lg:items-center w-full lg:border-y border-white/10 lg:py-6"
    >
      <div class="mt-6 w-full lg:mt-0">
        <div class="flex flex-col sm:flex-row gap-3 justify-between">
          <img class="h-7 mx-auto lg:mx-0" src="/lexington.svg" alt="" />
          <img class="h-7 mx-auto lg:mx-0" src="/bal.svg" alt="" />
          <img
            class="h-7 mx-auto lg:mx-0 grayscale"
            src="/wickedbackgrounds.svg"
            alt=""
          />
          <img
            class="h-7 mx-auto lg:mx-0 grayscale"
            src="/devdojo.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
