<div
  id="pricing"
  class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-6 col-span-full scroll-mt-24">
  <section
    class="col-span-full xl:col-span-2 bg-orange-400 flex flex-col justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div>
        <p
          class="text-2xl sm:text-5xl xl:text-5xl tracking-tighter text-white font-display">
          Tailored Landing Pages & UI Components packages
        </p>
      </div>
      <p class="text-base 2xl:text-xl text-gray-200 lg:mt-8 mt-4">
        Flexible pricing to enhance your online presence at every stage.
      </p>
    </div>
    <div>
      <p class="text-2xl text-white">1 spots available</p>
      <div class="border-t flex flex-col pt-4 mt-4">
        <span class="text-lg text-gray-200 font-normal">
          Project management with <span class="italic text-white font-medium"
            >Breeew</span
          >, secure payments with <span class="italic text-white font-medium"
            >Stripe</span
          > and the freedom of
          <span class="italic text-white font-medium">
            Canceling your subscription anytime:</span
          >
        </span>
      </div>
    </div>
  </section>
  <section
    class="bg-gray-200 duration-300 flex flex-col xl:col-span-2 justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div class="flex flex-col gap-2 bg-white p-8 rounded-2xl">
        <div class="flex flex-col gap-2">
          <div class="flex justify-between items-center">
            <p class="text-2xl xl:text-3xl text-black  font-display">Development</p>
            <div class="flex gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="flex-none h-4 stroke-current w-4 text-black"
                viewBox="0 0 100 100"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                ><path
                  d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                  fill="currentColor"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path><path
                  d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                  fill="currentColor"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  stroke="black"
                ></path></svg
              ><svg
                class="flex-none h-4 stroke-current w-4"
                viewBox="0 0 256 154"
                aria-label="Tailwind CSS"
                astro-icon="logos:tailwindcss-icon"
                height="64"
                width="64"
                ><path
                  d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                  fill="#38bdf9"
                  stroke="#38bdf9"
                ></path></svg
              >
            </div>
          </div>
          <p class="text-2xl xl:text-4xl font-light  font-display text-blue-500 mt-2">
            $1999<span class="text-sm text-gray-600 ml-2">/monthly</span>
            <span class="text-black block text-xs pt-4">USD + Local tax</span>
          </p>
        </div>
        <p class="text-base text-blue-500 xl:text-2xl mt-4">
          Perfect for startups in need of static front-end development
          solutions.
        </p>
        <div class="mt-8">
          <a
            title="link to checkout"
            class="rounded-xl px-8 h-16 py-2 font-semibold transition-all text-xl flex items-center justify-between bg-blue-400 text-white b focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300"
            href="https://breeew.com/api/stripe/checkout-session-link/michael?prices=price_1OlEwhF2JhswpgH2ua7bRfRA"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </div>
      <div class="mt-6">
        <p class="text-base uppercase text-black">what you get:</p>
        <ul
          class="flex flex-col mt-4 text-base text-black gap-y-4"
          role="list">
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span class="text-black text-base uppercase"
              >⏤ Custom Landing Pages</span
            >
            Development of bespoke landing pages that capture your brand's essence
            and engage your visitors effectively.
          </li>
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span class="text-black text-base uppercase">⏤ UI Components</span>
            Creation and integration of custom UI components, designed for scalability
            and consistency across your web presence.
          </li><li class="flex flex-col items-start gap-2 text-gray-600">
            <span class="text-black text-base uppercase">⏤ SEO Essentials</span>
            Implementation of foundational SEO practices to enhance your visibility
            and reach on search engines.
          </li>
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span class="text-black text-base uppercase"
              >⏤ Ongoing Support & Maintenance</span
            >
            Continuous monitoring and updating of your web components to ensure optimal
            performance and relevance.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section
    class="bg-gray-200 flex flex-col xl:col-span-2 justify-between rounded-3xl h-full text-black p-8">
    <div>
      <div class="flex flex-col gap-2 bg-white p-8 rounded-2xl">
        <div class="flex flex-col gap-2">
          <div class="flex justify-between items-center">
            <p class="text-2xl xl:text-3xl text-black  font-display">One off</p>
            <div>
              <div class="flex gap-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="flex-none h-4 stroke-current w-4 text-black"
                  viewBox="0 0 100 100"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  ><path
                    d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                    fill="currentColor"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                  ></path><path
                    d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                    fill="currentColor"
                    clip-rule="evenodd"
                    fill-rule="evenodd"
                    stroke="black"
                  ></path></svg
                ><svg
                  class="flex-none h-4 stroke-current w-4"
                  viewBox="0 0 256 154"
                  aria-label="Tailwind CSS"
                  astro-icon="logos:tailwindcss-icon"
                  height="64"
                  width="64"
                  ><path
                    d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                    fill="#38bdf9"
                    stroke="#38bdf9"
                  ></path></svg
                >
              </div>
            </div>
          </div>
          <p class="text-2xl xl:text-4xl font-light  font-display text-green-500 mt-2">
            $999
            <span class="text-black block text-xs pt-4">USD + Local tax</span>
          </p>
        </div>
        <p class="text-base text-green-600 xl:text-2xl mt-4">
          Ideal for those seeking a fast landing page or UI components!
        </p>
        <div class="mt-8">
          <a
            title="link to checkout"
            class="rounded-xl px-8 h-16 py-2 font-semibold transition-all text-xl flex items-center justify-between bg-green-600 text-white b focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300"
            href="https://breeew.com/api/stripe/checkout-session-link/michael?prices=price_1Ok1UXF2JhswpgH2aSbmGvCZ&one_time=true"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </div>
      <div class="mt-6">
        <p class="text-base uppercase text-black">What you get:</p>
        <ul
          class="flex flex-col mt-4 text-base text-black gap-y-4"
          role="list">
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span
              class="text-black text-base uppercase"
              class="text-black"
              >⏤ Rapid Turnaround</span
            >
            Delivery within 2-3 days, moving your project swiftly from idea to reality.
          </li>
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span
              class="text-black text-base uppercase"
              class="text-black"
              >⏤ Development Focus</span
            >
            Opt for development of a custom landing page or enhancement of UI components
            for better functionality and design.
          </li>
          <li class="flex flex-col items-start gap-2 text-gray-600">
            <span
              class="text-black text-base uppercase"
              class="text-black"
              >⏤ Dedicated Revision</span
            >
            To ensure your complete satisfaction, we include 1 round of revisions,
            allowing you to fine-tune the final output.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section
    class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-3 justify-between order-last md:order-none bg-gray-200 rounded-3xl">
    <p class="text-2xl xl:text-4xl text-black lg:text-xl  font-display">Good to know</p>
    <div class="mt-4">
      <p class="text-base text-gray-600 font-normal text-balance">
        Gurido exclusively focuses on
        <span class="text-black italic font-medium"> landing pages</span>,
        <span class="text-black italic font-medium"> UI components</span>,
        <span class="text-black italic font-medium"> Static website</span> &amp;
        <span class="text-black italic font-medium"> Static compponents</span>,
        from Gurido.
      </p>
      <div class="border-t border-gray-300 flex flex-col pt-4 mt-4">
        <p class="text-base text-gray-600 text-balance">
          We operate in English, Spanish, Italian, and Swedish — choose the
          language that works best for you.
        </p>
      </div>
    </div>
  </section>
  <section
    class="h-full rounded-3xl justify-between col-span-full md:col-span-1 xl:col-span-3 bg-gray-200 p-8">
    <div class="flex flex-col justify-between h-full">
      <div>
        <p class="text-2xl xl:text-4xl text-black lg:text-xl  font-display">
          Book an intro call
        </p>
        <p class="text-base text-gray-600 mt-2">
          If not sure, you can book an intro call to learn more about Gurido's. <spanc
            class="block italic">( Europe/Helsinki ) Time</spanc
          >
        </p>
      </div>
      <div class="flex flex-col mt-4">
        <a
          href="#_"
          class="rounded-xl px-8 h-16 border py-2 font-semibold transition-all text-xl flex items-center justify-between bg-white text-gray-600 border-gray-300 focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300">
          Book a call
          <span>&rarr;</span>
        </a>
      </div>
    </div>
  </section>
</div>
