<section class="lg:p-8 scroll-mt-24" id="services">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-24 relative w-full"
  >
    <div class="lg:text-center max-w-2xl lg:mx-auto">
      <span class="text-blue-400"> Services</span><h2
        class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white"
      >
        Exploring a diverse range of comprehensive <span
          class="md:block text-zinc-400"
          >services to elevate your brand presence
        </span>
      </h2>
    </div><dl
      class="grid grid-cols- gap-12 md:grid-cols-2 lg:space-y-0 lg:gap-2 mt-12"
    >
      <div
        class="flex flex-col shadow-inset bg-ebony rounded-3xl p-4 lg:p-10 divide-y divide-white/10"
      >
        <p class="text-2xl py-3 tracking-tighter font-light text-white">
          Design
        </p>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                  d="M9 12l2 2l4 -4"></path></svg
              >
            </div><p class="text-lg font-medium leading-6 text-white">
            Open graphs
            </p>
          </dt><dd class="mt-4 text-sm text-zinc-400">
            Embrace the freedom to work from your preferred location and
            discover new destinations with your colleagues.
          </dd>
        </div>
        <div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                  d="M9 12l2 2l4 -4"></path></svg
              >
            </div><p class="text-lg font-medium leading-6 text-white">
              Competitive Compensation with Equity
            </p>
          </dt><dd class="mt-4 text-sm text-zinc-400">
            Join a team that values your contributions and become a part of the
            fastest-growing fintech company in history.
          </dd>
        </div><div class="py-6">
          <dt class="inline-flex items-center gap-3">
            <div class="flex items-center justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-circle-check"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                  d="M9 12l2 2l4 -4"></path></svg
              >
            </div><p class="text-lg font-medium leading-6 text-white">
              Comprehensive Health Benefits
            </p>
          </dt><dd class="mt-4 text-sm text-zinc-400">
            Take care of yourself and your loved ones with health, dental, and
            vision benefits, ensuring your well-being without any concerns.
          </dd>
        </div>
      </div>

    </dl>
  </div>
</section>
