<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
  id="work"
>
  <div class="border-x border-zinc-700">
    <div class="mx-auto 2xl:max-w-7xl items-center w-full">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:items-center divide-x divide-zinc-700"
      >
        <div class="p-8 lg:px-24">
          <h2
            class="text-3xl tracking-tighter font-light lg:text-4xl text-white"
          >
            Recent projects
          </h2><p class="mt-5 text-white">
            Presenting a snapshot of <span>my most recent work.</span>
          </p>
        </div>
        <div class="h-full flex  w-full duration-200">
          <a
            href="/all-work"
            class="items-center inline-flex mx-auto  p-8 lg:px-24 w-full justify-between rounded-4xl h-full text-3xl tracking-tighter hover:bg-gradientTopRight font-light lg:text-4xl text-white hover:bg-white"
            >See more work <span aria-hidden="true">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
>
  <div class="border-x border-zinc-700">
    <div class="grid grid-cols-1 list-none md:grid-cols-3 gap-px bg-zinc-700">
      <div
        class="h-full pb-0 overflow-hidden bg-black flex flex-col justify-between"
      >
        <div class="p-8 lg:px-24  overflow-hidden">
          <p
            class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
          >
            Design - Development
          </p>
          <h2 class="text-xl mt-4 tracking-tighter font-medium text-white">
            Screens for Tails
          </h2>
          <p class="mt-1 text-sm text-zinc-400">
            Tailwind Page Builder and Component Library
          </p>
        </div>
        <img class="" src="/tailsPage.png" alt="" />
      </div>
      <div
        class="h-full pb-0 overflow-hidden bg-black flex flex-col justify-between"
      >
        <div class="p-8 lg:px-24  overflow-hidden">
          <p
            class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
          >
            Design - Development
          </p>
          <h2 class="text-xl mt-4 tracking-tighter font-medium text-white">
            Wicked Backgrounds
          </h2>
          <p class="mt-1 text-sm text-zinc-400">
            Create beautiful SVG backgrounds for your designs.
          </p>
        </div>
        <img class="" src="/balPage.png" alt="" />
      </div>
      <div
        class="h-full pb-0 overflow-hidden bg-black flex flex-col justify-between"
      >
        <div class="p-8 lg:px-24  overflow-hidden">
          <p
            class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-xs leading-6 text-white ring-1 ring-zinc-700 shadow-inset ring-inset"
          >
            Design
          </p>
          <h2 class="text-xl mt-4 tracking-tighter font-medium text-white">
            Built At lightspeed
          </h2>
          <p class="mt-1 text-sm text-zinc-400">
            A directory of 4000+ templates & UI kits.
          </p>
        </div>
        <img class="" src="/wbPage.png" alt="" />
      </div>
    </div>
  </div>
</section>
