---
import One from "../work/One.astro";
import Two from "../work/Two.astro";
import Three from "../work/Three.astro";
import Four from "../work/Four.astro";
import Five from "../work/Five.astro";
import Six from "../work/Six.astro";
---

<div id="work"
  class="flex flex-col w-full rounded-3xl scroll-mt-24"
  x-data="{
      skip: 1,
      atBeginning: false,
      atEnd: false,
      next() {
          this.to((current, offset) => current + (offset * this.skip))
      },
      prev() {
          this.to((current, offset) => current - (offset * this.skip))
      },
      to(strategy) {
          let slider = this.$refs.slider
          let current = slider.scrollLeft
          let offset = slider.firstElementChild.getBoundingClientRect().width
          slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
      },
      focusableWhenVisible: {
          'x-intersect:enter'() {
              this.$el.removeAttribute('tabindex')
          },
          'x-intersect:leave'() {
              this.$el.setAttribute('tabindex', '-1')
          },
      },
      disableNextAndPreviousButtons: {
          'x-intersect:enter.threshold.05'() {
              let slideEls = this.$el.parentElement.children
              // If this is the first slide.
              if (slideEls[0] === this.$el) {
                  this.atBeginning = true
              // If this is the last slide.
              } else if (slideEls[slideEls.length-1] === this.$el) {
                  this.atEnd = true
              }
          },
          'x-intersect:leave.threshold.05'() {
              let slideEls = this.$el.parentElement.children
              // If this is the first slide.
              if (slideEls[0] === this.$el) {
                  this.atBeginning = false
              // If this is the last slide.
              } else if (slideEls[slideEls.length-1] === this.$el) {
                  this.atEnd = false
              }
          },
      },
  }"
>
  <div
    class="flex flex-col w-full bg-white rounded-3xl h-full items relative overflow-hidden"
    aria-labelledby="carousel-label"
    role="region"
    tabindex="0"
    x-on:keydown.left="prev"
    x-on:keydown.right="next"
  >
    <h2 class="sr-only" hidden="" id="carousel-label">Carousel</h2><span
      class="sr-only"
      hidden=""
      id="carousel-content-label">Carousel</span
    >
    <p class="absolute left-8 z-50 text-white top-4 mix-blend-difference">
      Components
    </p>
    <div
      class="items-center justify-center inline-flex mx-auto space-x-2 absolute top-4 inset-x-0 z-30"
    >
      <button
        class="bg-gray-50 hover:bg-white focus:bg-orange-600 focus:text-white rounded-lg inline-flex items-center text-center text-gray-500 p-2 ring-1 ring-gray-200 focus:ring-accent-600"
        :class="{ 'opacity-50 cursor-not-allowed': atBeginning }"
        :aria-disabled="atBeginning"
        :tabindex="atEnd ? -1 : 0"
        x-on:click="prev"
        tabindex="0"
        ><span aria-hidden="true"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"></path>
          </svg>
        </span><span class="sr-only">Skip to previous slide page</span></button
      >
      <button
        class="bg-gray-50 hover:bg-white focus:bg-orange-600 focus:text-white rounded-lg inline-flex items-center text-center text-gray-500 p-2 ring-1 ring-gray-200 focus:ring-accent-600"
        :class="{ 'opacity-50 cursor-not-allowed': atEnd }"
        :aria-disabled="atEnd"
        :tabindex="atEnd ? -1 : 0"
        x-on:click="next"
        tabindex="0"
        ><span aria-hidden="true"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4 "
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </span><span class="sr-only">Skip to next slide page</span></button
      >
    </div>
    <div
      class="flex gap-3 overflow-x-scroll scrollbar-hide snap-mandatory snap-x w-full h-full relative"
      role="listbox"
      aria-labelledby="carousel-content-label"
      tabindex="0"
      x-ref="slider"
    >
    <Five />
    <One />
    <Two />
    <Three />
    <Four />
    <Six />
    </div>
  </div>
</div>
