<section class="lg:p-8 scroll-mt-24" id="work">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="max-w-xl lg:text-center lg:mx-auto">
      <span class="text-blue-400"> Work</span><h2
        class="text-3xl tracking-tighter mt-6 font-light lg:text-4xl text-white"
      >
       Recent projects
      </h2><p class="mt-5 text-white max-w-md lg:mx-auto">
        Presenting a snapshot of my most recent endeavors.
      </p>
    </div>
    <div class="grid grid-cols-1 gap-4 list-none mt-12 lg:gap-3 md:grid-cols-2">
      <div
        class="h-full bg-gradientdown ring-1 ring-white/10 rounded-4xl p-8 lg:p-20 pb-0 overflow-hidden lg:pb-0"
      >
        <div>
          <p
            class="font-medium inline-flex items-center bg-ebony ring-1 ring-white/10 px-3 py-0.5 rounded-full text-white text-xs"
          >
            Design
          </p>
          <h2 class="text-xl py-3 mt-8 tracking-tighter font-medium text-white">
            Built At lightspeed
          </h2>
          <p class="mt-1 text-sm text-zinc-400">
            A directory of 4000+ templates & UI kits.
          </p>
        </div>
        <div class="-mb-32 mt-12 lg:-ml-32">
          <img class="rounded-t-4xl ring-1 ring-white/10 shadow-thick" src="/balPage.png" alt="" />
        </div>
      </div>
      <div
        class="h-full bg-gradientdown ring-1 ring-white/10 rounded-4xl p-8 lg:p-20 pb-0 overflow-hidden lg:pb-0"
      >
        <div>
          <p
            class="font-medium inline-flex items-center bg-ebony ring-1 ring-white/10 px-3 py-0.5 rounded-full text-white text-xs"
          >
            Design - Develpment
          </p>
          <h2 class="text-xl py-3 mt-8 tracking-tighter font-medium text-white">
            Screens for Tails
          </h2>
          <p class="mt-1 text-sm text-zinc-400">
            Tailwind Page Builder and Component Library
          </p>
        </div>

        <div class="-mb-32 mt-12 lg:-mr-32">
          <img class="rounded-t-4xl ring-1 ring-white/10 shadow-thick" src="/tailsPage.png" alt="" />
        </div>
      </div>
      <div
        class="h-full bg-gradientup ring-1 text-center overflow-hidden ring-white/10 rounded-4xl pb-0 lg:pb-0 p-8 lg:p-20 lg:col-span-full"
      >
        <p
          class="font-medium inline-flex items-center bg-transparent ring-1 ring-white/10 px-3 py-0.5 rounded-full text-white text-xs"
        >
          Design - Develpment
        </p>
        <h2
          class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white"
        >
          Wicked Backgrounds
        </h2><p class="mt-4 text-sm text-zinc-300 max-w-md mx-auto">
          Create beautiful SVG backgrounds for your designs. Stunning SVG waves,
          for your design, devices and websites!
        </p>
        <div class="-mb-64 mt-12">
          <img class="rounded-t-4xl ring-1 ring-white/10 shadow-thick" src="/wbPage.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
