<div
  class="items-center justify-center w-full flex flex-col p-8 bg-gray-200 rounded-3xl
          shrink-0 snap-start"
  role="option"
  x-bind="disableNextAndPreviousButtons"
>
  <div class="flex flex-col sm:flex-row mx-auto">
    <!--- Starts component -->
    <a href="#_">
      <img
        src="https://images.unsplash.com/photo-1517816428104-797678c7cf0c?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="rounded-xl rotate-6 hover:rotate-0 shadow-2xl duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom"
        alt="#_"
      />
    </a><a href="#_">
      <img
        src="https://images.unsplash.com/photo-1503650923300-dd2f6a007eaf?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="rounded-xl -rotate-12 hover:rotate-0 duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom"
        alt="#_"
      />
    </a><a href="#_">
      <img
        src="https://images.unsplash.com/photo-1583496715110-7d7a3d12034e?q=80&w=2635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="rounded-xl rotate-6 hover:rotate-0 shadow-2xl duration-500 hover:-translate-y-12 h-full w-full object-cover hover:scale-150 transform origin-bottom"
        alt="#_"
      />
    </a>
    <!--- Ends component -->
  </div>
</div>
