<div
  class="items-center justify-center w-full flex flex-col p-8 bg-gray-200 rounded-3xl
          shrink-0 snap-start"
  role="option"
  x-bind="disableNextAndPreviousButtons"
>
  <nav class="flex" aria-label="Breadcrumb">
    <ol role="list" class="items-center space-x-2 inline-flex">
      <li>
        <div class="flex items-center">
          <a href="#_" class="text-sm text-black hover:text-orange-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
              <path d="M10 12h4v4h-4z"></path>
            </svg></a
          >
        </div>
      </li>
      <li class="hidden sm:block">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-5 h-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path></svg
          >
          <a href="#_" class="text-sm ml-2 text-black hover:text-orange-600">
            Help Center
          </a>
        </div>
      </li>
      <li class="hidden md:block">
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-5 h-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path></svg
          ><a
            href="#"
            class="ml-2 text-sm font-medium text-black hover:text-orange-600"
            >Help Category</a
          >
        </div>
      </li>
      <li
        class="flex items-center relative"
        @click.away="open = false"
        x-data="{ open: false }"
      >
        <svg
          class="flex-shrink-0 w-5 h-5 text-black"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          ><path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"></path></svg
        >
        <button
          @click="open = !open"
          class="bg-gray-50 px-4 ml-2 rounded-full border-gray-300 hover:bg-gray-100 border justify-between text-sm text-orange-600 "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-dots w-4 h-4"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute right-0 z-10 w-auto mt-2 origin-top-right rounded-xl  focus:outline-none "
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
          style="display: none;"
        >
          <div class="py-1 bg-gray-100 rounded-xl border border-gray-200 shadow-2xl" role="none">
            <button
              type="button"
              class="block text-left px-4 py-2 text-sm text-black hover:text-orange-600"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              >Overview
            </button>
            <button
              type="button"
              class="block px-4 py-2 text-sm text-black hover:text-orange-600"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1">Style Guide</button
            >
            <button
              type="button"
              class="block px-4 py-2 text-sm text-black hover:text-orange-600"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2">Components</button
            >
            <form
              method="POST"
              action="#"
              role="none"
              class="border-t border-white/5"
            >
              <button
                type="submit"
                class="block px-4 py-2 text-sm text-black hover:text-orange-600"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3">Sign out</button
              >
            </form>
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-5 h-5 text-black"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            ><path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path></svg
          ><a
            href="#_"
            class="ml-2 text-sm font-medium text-orange-600 hover:text-black"
            aria-current="page">Settings and billing</a
          >
        </div>
      </li>
    </ol>
  </nav>
</div>
