<div
  class="items-center justify-center w-full flex flex-col p-8 shrink-0 snap-start rounded-3xl h-full bg-gray-200"
  role="option"
  x-bind="disableNextAndPreviousButtons"
>
  <div
    class="flex flex-col overflow-hidden  shadow-2xl ring-2 ring-offset-4  ring-offset-gray-200 ring-gray-50 rounded-[1.7rem] max-w-64 p-0.5"
  >
    <div class="bg-gray-50 rounded-3xl">
      <div class="px-6 py-8 sm:p-10 sm:pb-6">
        <div
          class="grid items-center justify-center w-full grid-cols-1 text-left"
        >
          <div>
            <h2 class="text-2xl text-black">Starter</h2>
            <p class="mt-2 text-base text-gray-500">
              Ideal for startups requiring front-end development services.
            </p>
          </div>
          <div class="mt-4">
            <p>
              <span class="text-4xl font-lighter text-orange-600">$25</span>
              <span class="text-sm text-zinc-400">/month</span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col justify-between flex-1 px-6 pb-8 space-y-6 sm:px-8"
      >
        <div class="flex mt-8 w-full">
          <a
            href="#"
            type="a"
            class="text-sm py-2 w-full px-4 border focus:ring-2 rounded-full border-transparent bg-orange-600 hover:bg-gray-200 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent"
          >
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
