<div
  class="items-center justify-center w-full flex flex-col p-8 shrink-0 snap-start rounded-3xl h-full bg-gray-200"
  role="option"
  x-bind="disableNextAndPreviousButtons"
>
  <a
    href="#_"
    class="group h-16 w-64 inline-flex overflow-visible p-1 rounded-full bg-gradient-to-r from-gray-200 via-gray-100 to-white transition-all duration-300"
  >
    <div
      class="w-full h-full overflow-hidden p-1 rounded-full bg-gradient-to-t from-gray-200 to-white shadow-custom hover:shadow-none transition duration-300"
    >
      <div
        class="w-full h-full flex items-center justify-center px-4 py-2 rounded-full text-black bg-gradient-to-b from-gray-50 to-white hover:bg-gradient-to-t hover:from-gray-100 duration-200 text-xl font-semibold"
      >
        Gurido
      </div>
    </div>
  </a>
</div>
