<section
  class="md:px-12 sm:px-8 relative border-b border-zinc-700 scroll-mt-24 2xl:border-x"
>
  <div class="border-x border-zinc-700">
    <div
      class="h-full bg-gradientTopRight ring-1 ring-zinc-700 rounded-4xl overflow-hidden"
    >
      <div class="p-8 lg:p-20 max-w-2xl">
        <h2
          class="text-5xl tracking-tighter font-normal md:text-4xl text-white"
        >
          Ready to elevate your <span class="md:block text-zinc-300"
            >design and development game?</span
          >
        </h2>
        <p class="mt-4 text-base text-zinc-300 max-w-sm">
          Subscribe now and enjoy the flexibility of the monthly plan - pay only
          when you need it!
        </p>
      </div>
      <div class="border-t border-zinc-700">
        <a
          href="#pricing"
          class="text-sm lg:text-5xl py-2 px-8 border focus:ring-1 h-12 lg:px-20 uppercase tracking-tighter lg:h-24 border-transparent bg-black/80 hover:bg-black/90 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-between w-full"
          >Get started today
          <span>&rarr;</span>
          <span>&rarr;</span>
          <span>&rarr;</span>
          <span>&rarr;</span>
          <span>&rarr;</span>
          <span>&rarr;</span>
        </a>
      </div>
    </div>
  </div>
</section>
