<section class="lg:p-8">
  <div class="mx-auto 2xl:max-w-7xl py-12 lg:px-16 md:px-12 px-8 xl:px-40 items-center w-full">

    <div class="grid grid-cols-1 gap-4 list-none lg:gap-3 lg:grid-cols-2">

      <div class="mt-12 h-full lg:mt-0 bg-gradientdown ring-1 text-center ring-white/10 rounded-4xl p-8 lg:p-20 lg:col-span-full">
        <h2 class="text-3xl mt-6 tracking-tighter font-light lg:text-4xl text-white"> Ready to elevate your <span class="md:block text-zinc-400">design and development game?</span> </h2>
        <p class="mt-4 text-sm text-zinc-300 max-w-sm mx-auto"> Subscribe now and enjoy the flexibility of the monthly plan - pay only when you need it!

        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-transparent">Get started today</a>

        </div>
      </div>
    </div>
  </div>
</section>

