<footer class="bg-black lg:p-8">
  <div
    class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div class="grid grid-cols-1 xl:grid-cols-3  gap-8 border-t border-white/5 py-8 lg:pb-0">
      <div class="text-white xl:col-span-2">
        <spans
          class="text-base inline-flex items-center gap-3 font-black italic uppercase lg:text-7xl"
        >
          <svg
            class="w-5 h-5 lg:w-14 lg:h-14"
            viewBox="0 0 109 109"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect x="50" y="2.18005" width="9.45" height="39.785" fill="white"
            ></rect>
            <circle
              cx="54.5"
              cy="54.5"
              r="49.02"
              stroke="white"
              stroke-width="10.96"></circle>
          </svg> NeuePower.
        </spans>
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-1 gap-8 ">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Navigation</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="#work" class="text-zinc-400 hover:text-white"> Work</a>
              </li>
              <li>
                <a href="#how" class="text-zinc-400 hover:text-white">
                  How it works
                </a>
              </li>
              <li>
                <a href="#pricing" class="text-zinc-400 hover:text-white">
                  Pricing
                </a>
              </li>
              <li>
                <a href="#faq" class="text-zinc-400 hover:text-white"> FAQ</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Other projects</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://www.lexingtonthemes.com"
                  class="text-zinc-400 hover:text-white"
                >
                  Lexington Themes.
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Resources</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://breeew.com/"
                  class="text-zinc-400 hover:text-white"
                >
                  Breeew
                </a>
              </li>
              <li>
                <a
                  href="https://stripe.com"
                  class="text-zinc-400 hover:text-white"
                >
                  Stripe
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="text-zinc-400 hover:text-white"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="bg-black border-t  border-white/5 lg:p-8 overflow-hidden">
  <div
    class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7x pt-8 lg:pt-0"
  >
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-xs text-zinc-400">
        © 2022 NeuePower Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-400 lg:col-span-2">
          NeuePower is not affiliated with the Stripe, Breeew, Astro, or Tailwind
          Labs teams, nor is it endorsed or sponsored by them. Designed and
          built by <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-white hover:text-accent-300"
            >Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section>
  </div>



</footer>
