<footer class="bg-black lg:p-8">
  <div
    class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div
      class="grid grid-cols-1 xl:grid-cols-3 gap-8 border-t border-white/5 py-8 lg:pb-0"
    >
      <div
        class="text-white xl:col-span-2 uppercase font-black text-3xl lg:text-8xl tracking-[-0.2rem]"
      >
        <svg class="max-w-xl" viewBox="0 0 2156 278" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_68_27)">
          <path d="M338.239 4.08448H428.613L490.778 155.579H493.912L556.077 4.08448H646.451V271.55H575.406V116.921H573.316L513.763 269.46H470.927L411.374 115.877H409.284V271.55H338.239V4.08448ZM895.839 137.817C895.839 167.594 890.049 192.712 878.47 213.172C866.89 233.546 851.262 249 831.585 259.535C811.908 269.983 789.967 275.207 765.763 275.207C741.385 275.207 719.357 269.939 699.68 259.404C680.091 248.782 664.506 233.285 652.926 212.911C641.434 192.451 635.687 167.419 635.687 137.817C635.687 108.041 641.434 82.9659 652.926 62.5926C664.506 42.1321 680.091 26.678 699.68 16.2301C719.357 5.69519 741.385 0.42772 765.763 0.42772C789.967 0.42772 811.908 5.69519 831.585 16.2301C851.262 26.678 866.89 42.1321 878.47 62.5926C890.049 82.9659 895.839 108.041 895.839 137.817ZM821.137 137.817C821.137 121.797 819.004 108.302 814.738 97.3317C810.558 86.2744 804.333 77.9161 796.062 72.2568C787.878 66.5105 777.778 63.6373 765.763 63.6373C753.748 63.6373 743.605 66.5105 735.334 72.2568C727.15 77.9161 720.924 86.2744 716.658 97.3317C712.479 108.302 710.389 121.797 710.389 137.817C710.389 153.837 712.479 167.376 716.658 178.433C720.924 189.404 727.15 197.762 735.334 203.508C743.605 209.167 753.748 211.997 765.763 211.997C777.778 211.997 787.878 209.167 796.062 203.508C804.333 197.762 810.558 189.404 814.738 178.433C819.004 167.376 821.137 153.837 821.137 137.817ZM1116.72 4.08448V271.55H1056.13L959.484 131.026H957.916V271.55H885.304V4.08448H946.946L1042.02 144.086H1044.11V4.08448H1116.72ZM1366.05 137.817C1366.05 167.594 1360.26 192.712 1348.68 213.172C1337.1 233.546 1321.47 249 1301.79 259.535C1282.12 269.983 1260.18 275.207 1235.97 275.207C1211.59 275.207 1189.56 269.939 1169.89 259.404C1150.3 248.782 1134.71 233.285 1123.13 212.911C1111.64 192.451 1105.89 167.419 1105.89 137.817C1105.89 108.041 1111.64 82.9659 1123.13 62.5926C1134.71 42.1321 1150.3 26.678 1169.89 16.2301C1189.56 5.69519 1211.59 0.42772 1235.97 0.42772C1260.18 0.42772 1282.12 5.69519 1301.79 16.2301C1321.47 26.678 1337.1 42.1321 1348.68 62.5926C1360.26 82.9659 1366.05 108.041 1366.05 137.817ZM1291.34 137.817C1291.34 121.797 1289.21 108.302 1284.95 97.3317C1280.77 86.2744 1274.54 77.9161 1266.27 72.2568C1258.09 66.5105 1247.99 63.6373 1235.97 63.6373C1223.96 63.6373 1213.81 66.5105 1205.54 72.2568C1197.36 77.9161 1191.13 86.2744 1186.87 97.3317C1182.69 108.302 1180.6 121.797 1180.6 137.817C1180.6 153.837 1182.69 167.376 1186.87 178.433C1191.13 189.404 1197.36 197.762 1205.54 203.508C1213.81 209.167 1223.96 211.997 1235.97 211.997C1247.99 211.997 1258.09 209.167 1266.27 203.508C1274.54 197.762 1280.77 189.404 1284.95 178.433C1289.21 167.376 1291.34 153.837 1291.34 137.817ZM1355.51 4.08448H1445.89L1508.05 155.579H1511.18L1573.35 4.08448H1663.72V271.55H1592.68V116.921H1590.59L1531.04 269.46H1488.2L1428.65 115.877H1426.56V271.55H1355.51V4.08448ZM1913.11 137.817C1913.11 167.594 1907.32 192.712 1895.74 213.172C1884.16 233.546 1868.53 249 1848.86 259.535C1829.18 269.983 1807.24 275.207 1783.04 275.207C1758.66 275.207 1736.63 269.939 1716.95 259.404C1697.36 248.782 1681.78 233.285 1670.2 212.911C1658.71 192.451 1652.96 167.419 1652.96 137.817C1652.96 108.041 1658.71 82.9659 1670.2 62.5926C1681.78 42.1321 1697.36 26.678 1716.95 16.2301C1736.63 5.69519 1758.66 0.42772 1783.04 0.42772C1807.24 0.42772 1829.18 5.69519 1848.86 16.2301C1868.53 26.678 1884.16 42.1321 1895.74 62.5926C1907.32 82.9659 1913.11 108.041 1913.11 137.817ZM1838.41 137.817C1838.41 121.797 1836.28 108.302 1832.01 97.3317C1827.83 86.2744 1821.61 77.9161 1813.33 72.2568C1805.15 66.5105 1795.05 63.6373 1783.04 63.6373C1771.02 63.6373 1760.88 66.5105 1752.61 72.2568C1744.42 77.9161 1738.2 86.2744 1733.93 97.3317C1729.75 108.302 1727.66 121.797 1727.66 137.817C1727.66 153.837 1729.75 167.376 1733.93 178.433C1738.2 189.404 1744.42 197.762 1752.61 203.508C1760.88 209.167 1771.02 211.997 1783.04 211.997C1795.05 211.997 1805.15 209.167 1813.33 203.508C1821.61 197.762 1827.83 189.404 1832.01 178.433C1836.28 167.376 1838.41 153.837 1838.41 137.817ZM2005.49 271.55H1902.58V4.08448H2004.44C2031.96 4.08448 2055.72 9.43901 2075.75 20.1481C2095.86 30.7701 2111.36 46.0936 2122.24 66.1187C2133.21 86.0567 2138.7 109.956 2138.7 137.817C2138.7 165.678 2133.26 189.621 2122.37 209.646C2111.49 229.584 2096.08 244.908 2076.14 255.617C2056.2 266.239 2032.65 271.55 2005.49 271.55ZM1975.19 209.907H2002.88C2016.11 209.907 2027.38 207.774 2036.7 203.508C2046.1 199.242 2053.24 191.885 2058.12 181.437C2063.08 170.989 2065.56 156.449 2065.56 137.817C2065.56 119.185 2063.04 104.645 2057.99 94.1973C2053.03 83.7495 2045.71 76.3924 2036.05 72.1262C2026.47 67.86 2014.72 65.7269 2000.79 65.7269H1975.19V209.907Z" fill="white"/>
          <g clip-path="url(#clip1_68_27)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M260.474 138.55C260.474 205.887 205.887 260.474 138.55 260.474C71.2131 260.474 16.626 205.887 16.626 138.55C16.626 71.2131 71.2131 16.626 138.55 16.626C205.887 16.626 260.474 71.2131 260.474 138.55ZM277.1 138.55C277.1 215.068 215.068 277.1 138.55 277.1C62.0309 277.1 0 215.068 0 138.55C0 62.0309 62.0309 0 138.55 0C215.068 0 277.1 62.0309 277.1 138.55ZM138.55 153.79C146.967 153.79 153.79 146.967 153.79 138.55C153.79 130.133 146.967 123.309 138.55 123.309C130.133 123.309 123.309 130.133 123.309 138.55C123.309 146.967 130.133 153.79 138.55 153.79Z" fill="white"/>
          </g>
          </g>
          <defs>
          <clipPath id="clip0_68_27">
          <rect width="2156" height="278" fill="white"/>
          </clipPath>
          <clipPath id="clip1_68_27">
          <rect width="277.1" height="277.1" fill="white"/>
          </clipPath>
          </defs>
          </svg>

      </div>
      <div class="grid grid-cols-2 xl:grid-cols-1 gap-8">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Navigation</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="#work" class="text-zinc-400 hover:text-white"> Work</a>
              </li>
              <li>
                <a href="#how" class="text-zinc-400 hover:text-white">
                  How it works
                </a>
              </li>
              <li>
                <a href="#pricing" class="text-zinc-400 hover:text-white">
                  Pricing
                </a>
              </li>
              <li>
                <a href="#faq" class="text-zinc-400 hover:text-white"> FAQ</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Other projects</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://www.lexingtonthemes.com"
                  class="text-zinc-400 hover:text-white"
                >
                  Lexington Themes.
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Resources</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://breeew.com/"
                  class="text-zinc-400 hover:text-white"
                >
                  Breeew
                </a>
              </li>
              <li>
                <a
                  href="https://stripe.com"
                  class="text-zinc-400 hover:text-white"
                >
                  Stripe
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="text-zinc-400 hover:text-white"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="bg-black border-t border-white/5 lg:p-8 overflow-hidden">
  <div
    class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7x pt-8 lg:pt-0"
  >
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-xs text-zinc-400">
        © 2022 Monomod Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-400 lg:col-span-2">
          Monomod is not affiliated with Stripe, Breeew, Astro, or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-white hover:text-accent-300"
            >Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section>
  </div>
</footer>
