<footer class="bg-black lg:p-8 ">
  <div class="items-center px-8 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8 border-t border-white/5 pt-12">
      <div class="text-white">
        <spans class="text-lg inline-flex items-center gap-3 font-semibold lg:text-2xl italic">
          <svg class="h-6" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.263 19.8878C35.5755 32.2097 45.8661 46.1978 45.8661 46.1978C45.8661 46.1978 57.2841 30.6774 58.7685 17.9323C58.979 16.9071 59.09 15.841 59.09 14.7466C59.09 6.7196 53.1162 0.212402 45.7471 0.212402C38.378 0.212402 32.4042 6.7196 32.4042 14.7466C32.4042 16.5567 32.708 18.2895 33.263 19.8878ZM45.8507 46.2191C44.3889 45.1646 31.2923 35.8942 19.6762 33.7139C18.0776 33.1587 16.3446 32.8549 14.5342 32.8549C6.5072 32.8549 0 38.8287 0 46.1978C0 53.5668 6.5072 59.5407 14.5342 59.5407C15.6281 59.5407 16.6938 59.4297 17.7186 59.2194C29.2251 57.8799 42.9944 48.4428 45.5623 46.6209C43.7404 49.1889 34.3041 62.9571 32.964 74.4632C32.7535 75.4884 32.6425 76.5545 32.6425 77.6489C32.6425 85.6759 38.6163 92.1831 45.9854 92.1831C53.3545 92.1831 59.3283 85.6759 59.3283 77.6489C59.3283 75.8388 59.0245 74.106 58.4695 72.5077C56.3939 61.4479 47.8908 49.0459 46.1706 46.6212C48.7396 48.4438 62.508 57.88 74.0139 59.2194C75.0387 59.4297 76.1043 59.5407 77.1982 59.5407C85.2253 59.5407 91.7325 53.5668 91.7325 46.1978C91.7325 38.8287 85.2253 32.8549 77.1982 32.8549C75.3879 32.8549 73.6548 33.1587 72.0563 33.7139C60.4405 35.8942 47.3444 45.164 45.8819 46.219C45.8716 46.2049 45.8663 46.1978 45.8663 46.1978C45.8663 46.1978 45.8611 46.2049 45.8507 46.2191Z" fill="currentColor"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.263 19.8878C35.5755 32.2097 45.8661 46.1978 45.8661 46.1978C45.8661 46.1978 57.2841 30.6774 58.7685 17.9323C58.979 16.9071 59.09 15.841 59.09 14.7466C59.09 6.7196 53.1162 0.212402 45.7471 0.212402C38.378 0.212402 32.4042 6.7196 32.4042 14.7466C32.4042 16.5567 32.708 18.2895 33.263 19.8878ZM45.8507 46.2191C44.3889 45.1646 31.2923 35.8942 19.6762 33.7139C18.0776 33.1587 16.3446 32.8549 14.5342 32.8549C6.5072 32.8549 0 38.8287 0 46.1978C0 53.5668 6.5072 59.5407 14.5342 59.5407C15.6281 59.5407 16.6938 59.4297 17.7186 59.2194C29.2251 57.8799 42.9944 48.4428 45.5623 46.6209C43.7404 49.1889 34.3041 62.9571 32.964 74.4632C32.7535 75.4884 32.6425 76.5545 32.6425 77.6489C32.6425 85.6759 38.6163 92.1831 45.9854 92.1831C53.3545 92.1831 59.3283 85.6759 59.3283 77.6489C59.3283 75.8388 59.0245 74.106 58.4695 72.5077C56.3939 61.4479 47.8908 49.0459 46.1706 46.6212C48.7396 48.4438 62.508 57.88 74.0139 59.2194C75.0387 59.4297 76.1043 59.5407 77.1982 59.5407C85.2253 59.5407 91.7325 53.5668 91.7325 46.1978C91.7325 38.8287 85.2253 32.8549 77.1982 32.8549C75.3879 32.8549 73.6548 33.1587 72.0563 33.7139C60.4405 35.8942 47.3444 45.164 45.8819 46.219C45.8716 46.2049 45.8663 46.1978 45.8663 46.1978C45.8663 46.1978 45.8611 46.2049 45.8507 46.2191Z" fill="currentColor" fill-opacity="0.2"></path>
          </svg> Agency. </span>
      </div>
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Navigation</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="#how" class="text-zinc-400 hover:text-white"> How it works </a>
              </li>
               <li>
                <a href="#services" class="text-zinc-400 hover:text-white">Services</a>
              </li>
              <li>
                <a href="#work" class="text-zinc-400 hover:text-white"> Work </a>
              </li>
              <li>
                <a href="#pricing" class="text-zinc-400 hover:text-white"> Pricing </a>
              </li>
              <li>
                <a href="#faq" class="text-zinc-400 hover:text-white"> FAQ </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Other projects</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="https://www.lexingtonthemes.com" class="text-zinc-400 hover:text-white"> Lexington Themes. </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-white text-sm">Resources</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="https://breeew.com/" class="text-zinc-400 hover:text-white"> Breeew </a>
              </li>
              <li>
                <a href="https://stripe.com" class="text-zinc-400 hover:text-white"> Stripe </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-white text-sm">Socials</h3>
            <ul role="list" class="mt-4 text-xs space-y-2">
              <li>
                <a href="https://twitter.com/Mike_Andreuzza" class="text-zinc-400 hover:text-white"> @Mike_Andreuzza </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-black border-t border-white/5 lg:p-8">
  <div class="items-center px-8  mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl ">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-xs text-zinc-400"> © 2022 Agency Design. All rights reserved </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-400 lg:col-span-2"> AThis agency is not affiliated with the Stripe, Breeew, Astro, or Tailwind Labs teams, nor is it endorsed or sponsored by them. Designed and built by <a href="https://michaelandreuzza.com/" class="text-sm text-white hover:text-accent-300">Michael Andreuzza</a>, this website was crafted using Astro & Tailwind CSS. Crafted in Åland Islands, Finland. </p>
      </div>
    </section>
  </div>
</footer>