<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li>
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="#pricing" class="hover:text-black"> Pricing</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://www.lexingtonthemes.com"
              class="hover:text-black"
            >
              Lexington Themes.
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://breeew.com/" class="hover:text-black">
              Breeew
            </a>
          </li>
          <li>
            <a href="https://stripe.com" class="hover:text-black"> Stripe</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a
              href="https://twitter.com/Mike_Andreuzza"
              class="hover:text-black"
            >
              @Mike_Andreuzza
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2022 Monomod Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-400 lg:col-span-2">
          Monomod is not affiliated with Stripe, Breeew, Astro, or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by
          <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-black hover:text-accent-300"
            >Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section>
  </div>
  <svg
    class="lg:-mx-4 mt-24 -mb-4 lg:-mb-12"
    viewBox="0 0 1680 253"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.297923 247V6.17719H76.3291L141.007 196.427L205.341 6.17719H281.373V247H228.392V185.074C228.392 130.717 242.153 82.5524 260.387 43.3327V39.8924H243.185L168.53 247H113.141L38.4855 39.8924H21.2839V43.3327C39.5176 82.5524 53.2789 130.717 53.2789 185.074V247H0.297923ZM395.444 252.505C320.1 252.505 272.624 203.652 272.624 126.245C272.624 49.1813 320.1 0.672678 395.444 0.672678C471.131 0.672678 518.607 49.1813 518.607 126.245C518.607 203.652 471.131 252.505 395.444 252.505ZM331.109 126.245C331.109 173.033 355.88 202.964 395.444 202.964C435.351 202.964 460.122 173.033 460.122 126.245C460.122 79.4561 435.351 50.2134 395.444 50.2134C355.88 50.2134 331.109 79.4561 331.109 126.245ZM510.044 247V6.17719H584.355L684.813 209.156H702.014V205.716C681.716 167.528 671.395 136.91 671.395 104.226V6.17719H724.376V247H651.097L548.232 39.8924H531.03V43.3327C549.264 71.5434 563.025 106.291 563.025 145.51V247H510.044ZM835.308 252.505C759.965 252.505 712.488 203.652 712.488 126.245C712.488 49.1813 759.965 0.672678 835.308 0.672678C910.995 0.672678 958.472 49.1813 958.472 126.245C958.472 203.652 910.995 252.505 835.308 252.505ZM770.974 126.245C770.974 173.033 795.744 202.964 835.308 202.964C875.216 202.964 899.986 173.033 899.986 126.245C899.986 79.4561 875.216 50.2134 835.308 50.2134C795.744 50.2134 770.974 79.4561 770.974 126.245ZM949.908 247V6.17719H1025.94L1090.62 196.427L1154.95 6.17719H1230.98V247H1178V185.074C1178 130.717 1191.76 82.5524 1210 43.3327V39.8924H1192.8L1118.14 247H1062.75L988.096 39.8924H970.894V43.3327C989.128 82.5524 1002.89 130.717 1002.89 185.074V247H949.908ZM1345.05 252.505C1269.71 252.505 1222.23 203.652 1222.23 126.245C1222.23 49.1813 1269.71 0.672678 1345.05 0.672678C1420.74 0.672678 1468.22 49.1813 1468.22 126.245C1468.22 203.652 1420.74 252.505 1345.05 252.505ZM1280.72 126.245C1280.72 173.033 1305.49 202.964 1345.05 202.964C1384.96 202.964 1409.73 173.033 1409.73 126.245C1409.73 79.4561 1384.96 50.2134 1345.05 50.2134C1305.49 50.2134 1280.72 79.4561 1280.72 126.245ZM1459.65 247V6.17719H1552.54C1629.26 6.17719 1679.49 49.1813 1679.49 126.933C1679.49 203.996 1629.26 247 1552.54 247H1459.65ZM1514.36 202.276H1552.54C1589.35 202.276 1623.41 181.634 1623.41 126.933C1623.41 71.8874 1589.35 50.9014 1552.54 50.9014H1514.36V202.276Z"
      fill="black"></path>
  </svg>
</footer>
