<div class="fixed top-4 inset-x-0 z-50">
  <div class="lg:max-w-2xl mx-auto px-8">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-3 mx-auto bg-black/70 ring-1 ring-inset ring-white/10 shadow-thick backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-white hover:text-white/50 gap-4 items-center tracking-tighter uppercase inline-flex font-medium ml-2 text-sm"
            href="/"
          >
            <svg
              class="h-4"
              viewBox="0 0 2156 278"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_68_27)">
                <path
                  d="M354.339 4.08448H444.713L506.878 155.579H510.012L572.177 4.08448H662.551V271.55H591.505V116.921H589.416L529.863 269.46H487.027L427.474 115.877H425.384V271.55H354.339V4.08448ZM911.939 137.817C911.939 167.594 906.149 192.712 894.569 213.172C882.99 233.546 867.361 249 847.685 259.535C828.008 269.983 806.067 275.207 781.863 275.207C757.485 275.207 735.457 269.939 715.78 259.404C696.19 248.782 680.606 233.285 669.026 212.911C657.533 192.451 651.787 167.419 651.787 137.817C651.787 108.041 657.533 82.9659 669.026 62.5926C680.606 42.1321 696.19 26.678 715.78 16.2301C735.457 5.69519 757.485 0.42772 781.863 0.42772C806.067 0.42772 828.008 5.69519 847.685 16.2301C867.361 26.678 882.99 42.1321 894.569 62.5926C906.149 82.9659 911.939 108.041 911.939 137.817ZM837.237 137.817C837.237 121.797 835.104 108.302 830.837 97.3317C826.658 86.2744 820.433 77.9161 812.162 72.2568C803.978 66.5105 793.878 63.6373 781.863 63.6373C769.848 63.6373 759.705 66.5105 751.434 72.2568C743.249 77.9161 737.024 86.2744 732.758 97.3317C728.579 108.302 726.489 121.797 726.489 137.817C726.489 153.837 728.579 167.376 732.758 178.433C737.024 189.404 743.249 197.762 751.434 203.508C759.705 209.167 769.848 211.997 781.863 211.997C793.878 211.997 803.978 209.167 812.162 203.508C820.433 197.762 826.658 189.404 830.837 178.433C835.104 167.376 837.237 153.837 837.237 137.817ZM1132.82 4.08448V271.55H1072.23L975.583 131.026H974.016V271.55H901.404V4.08448H963.046L1058.12 144.086H1060.21V4.08448H1132.82ZM1382.15 137.817C1382.15 167.594 1376.36 192.712 1364.78 213.172C1353.2 233.546 1337.57 249 1317.89 259.535C1298.22 269.983 1276.27 275.207 1252.07 275.207C1227.69 275.207 1205.66 269.939 1185.99 259.404C1166.4 248.782 1150.81 233.285 1139.23 212.911C1127.74 192.451 1121.99 167.419 1121.99 137.817C1121.99 108.041 1127.74 82.9659 1139.23 62.5926C1150.81 42.1321 1166.4 26.678 1185.99 16.2301C1205.66 5.69519 1227.69 0.42772 1252.07 0.42772C1276.27 0.42772 1298.22 5.69519 1317.89 16.2301C1337.57 26.678 1353.2 42.1321 1364.78 62.5926C1376.36 82.9659 1382.15 108.041 1382.15 137.817ZM1307.44 137.817C1307.44 121.797 1305.31 108.302 1301.05 97.3317C1296.87 86.2744 1290.64 77.9161 1282.37 72.2568C1274.19 66.5105 1264.09 63.6373 1252.07 63.6373C1240.06 63.6373 1229.91 66.5105 1221.64 72.2568C1213.46 77.9161 1207.23 86.2744 1202.97 97.3317C1198.79 108.302 1196.7 121.797 1196.7 137.817C1196.7 153.837 1198.79 167.376 1202.97 178.433C1207.23 189.404 1213.46 197.762 1221.64 203.508C1229.91 209.167 1240.06 211.997 1252.07 211.997C1264.09 211.997 1274.19 209.167 1282.37 203.508C1290.64 197.762 1296.87 189.404 1301.05 178.433C1305.31 167.376 1307.44 153.837 1307.44 137.817ZM1371.61 4.08448H1461.99L1524.15 155.579H1527.28L1589.45 4.08448H1679.82V271.55H1608.78V116.921H1606.69L1547.14 269.46H1504.3L1444.75 115.877H1442.66V271.55H1371.61V4.08448ZM1929.21 137.817C1929.21 167.594 1923.42 192.712 1911.84 213.172C1900.26 233.546 1884.63 249 1864.96 259.535C1845.28 269.983 1823.34 275.207 1799.14 275.207C1774.76 275.207 1752.73 269.939 1733.05 259.404C1713.46 248.782 1697.88 233.285 1686.3 212.911C1674.81 192.451 1669.06 167.419 1669.06 137.817C1669.06 108.041 1674.81 82.9659 1686.3 62.5926C1697.88 42.1321 1713.46 26.678 1733.05 16.2301C1752.73 5.69519 1774.76 0.42772 1799.14 0.42772C1823.34 0.42772 1845.28 5.69519 1864.96 16.2301C1884.63 26.678 1900.26 42.1321 1911.84 62.5926C1923.42 82.9659 1929.21 108.041 1929.21 137.817ZM1854.51 137.817C1854.51 121.797 1852.38 108.302 1848.11 97.3317C1843.93 86.2744 1837.71 77.9161 1829.43 72.2568C1821.25 66.5105 1811.15 63.6373 1799.14 63.6373C1787.12 63.6373 1776.98 66.5105 1768.71 72.2568C1760.52 77.9161 1754.3 86.2744 1750.03 97.3317C1745.85 108.302 1743.76 121.797 1743.76 137.817C1743.76 153.837 1745.85 167.376 1750.03 178.433C1754.3 189.404 1760.52 197.762 1768.71 203.508C1776.98 209.167 1787.12 211.997 1799.14 211.997C1811.15 211.997 1821.25 209.167 1829.43 203.508C1837.71 197.762 1843.93 189.404 1848.11 178.433C1852.38 167.376 1854.51 153.837 1854.51 137.817ZM2021.59 271.55H1918.68V4.08448H2020.54C2048.06 4.08448 2071.82 9.43901 2091.85 20.1481C2111.96 30.7701 2127.46 46.0936 2138.34 66.1187C2149.31 86.0567 2154.8 109.956 2154.8 137.817C2154.8 165.678 2149.36 189.621 2138.47 209.646C2127.59 229.584 2112.18 244.908 2092.24 255.617C2072.3 266.239 2048.75 271.55 2021.59 271.55ZM1991.29 209.907H2018.98C2032.21 209.907 2043.48 207.774 2052.8 203.508C2062.2 199.242 2069.34 191.885 2074.22 181.437C2079.18 170.989 2081.66 156.449 2081.66 137.817C2081.66 119.185 2079.14 104.645 2074.09 94.1973C2069.13 83.7495 2061.81 76.3924 2052.15 72.1262C2042.57 67.86 2030.82 65.7269 2016.89 65.7269H1991.29V209.907Z"
                  fill="currentColor"></path>
                <g clip-path="url(#clip1_68_27)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M260.474 138.55C260.474 205.887 205.887 260.474 138.55 260.474C71.2131 260.474 16.626 205.887 16.626 138.55C16.626 71.2131 71.2131 16.626 138.55 16.626C205.887 16.626 260.474 71.2131 260.474 138.55ZM277.1 138.55C277.1 215.068 215.068 277.1 138.55 277.1C62.0309 277.1 0 215.068 0 138.55C0 62.0309 62.0309 0 138.55 0C215.068 0 277.1 62.0309 277.1 138.55ZM138.55 153.79C146.967 153.79 153.79 146.967 153.79 138.55C153.79 130.133 146.967 123.309 138.55 123.309C130.133 123.309 123.309 130.133 123.309 138.55C123.309 146.967 130.133 153.79 138.55 153.79Z"
                    fill="currentColor"></path>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_68_27">
                  <rect width="2156" height="278" fill="white"></rect>
                </clipPath>
                <clipPath id="clip1_68_27">
                  <rect width="277.1" height="277.1" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </a>
          <button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-accent-300 focus:outline-none focus:text-white md:hidden"
          >
            <svg
              class="w-6 h-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              >
              </path>
              <path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              >
              </path>
            </svg>
          </button>
        </div>
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
        >
          <ul
            class="space-y-2 list-none text-sm text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3 lg:gap-6"
          >
            <li>
              <a href="#work" class="hover:text-accent-400"> Work</a>
            </li>
            <li>
              <a href="#how" class="hover:text-accent-400"> How it works</a>
            </li>
            <li>
              <a href="#pricing" class="hover:text-accent-400"> Pricing</a>
            </li>
            <li>
              <a href="#faq" class="hover:text-accent-400"> Faq</a>
            </li>
            <li>
              <a
                href="https://app.monomod.design/sign-in"
                class="text-sm py-2 w-auto px-4 border h-8 focus:ring-2 rounded-full border-transparent bg-white/5 hover:bg-transparent text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-white/10"
              >
                Log in</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
