<div class="fixed top-4 inset-x-0 z-50">
  <div class="lg:max-w-2xl mx-auto px-8">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-3 mx-auto bg-black/70 ring-1 ring-inset ring-white/10 shadow-thick backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-white hover:text-white/50 items-center tracking-[-0.1rem]  inline-flex  font-medium ml-2  text-xl"
            href="/"
          >

          <svg class="h-6" viewBox="0 0 39 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.38636 11.4545V7.99432H5.30114C5.22727 8.11364 5.12216 8.2642 4.9858 8.44602C4.84943 8.625 4.65483 8.78551 4.40199 8.92756C4.14915 9.06676 3.8125 9.13636 3.39205 9.13636C2.84659 9.13636 2.36506 8.99858 1.94744 8.72301C1.52983 8.4446 1.20313 8.05256 0.96733 7.54688C0.731534 7.03835 0.613636 6.4375 0.613636 5.74432C0.613636 5.05682 0.731534 4.46023 0.96733 3.95455C1.20313 3.44886 1.53125 3.05824 1.9517 2.78267C2.37216 2.5071 2.85795 2.36932 3.40909 2.36932C3.83523 2.36932 4.17188 2.44034 4.41903 2.58239C4.66903 2.72159 4.85938 2.88068 4.99006 3.05966C5.12358 3.2358 5.22727 3.38068 5.30114 3.49432H5.42045V2.45455H6.39205V11.4545H5.38636ZM3.52841 8.23295C3.93182 8.23295 4.27273 8.12784 4.55114 7.91761C4.82955 7.70455 5.04119 7.41051 5.18608 7.03551C5.33097 6.65767 5.40341 6.22159 5.40341 5.72727C5.40341 5.23864 5.33239 4.81108 5.19034 4.4446C5.0483 4.07528 4.83807 3.78835 4.55966 3.58381C4.28125 3.37642 3.9375 3.27273 3.52841 3.27273C3.10227 3.27273 2.74716 3.3821 2.46307 3.60085C2.18182 3.81676 1.97017 4.1108 1.82812 4.48295C1.68892 4.85227 1.61932 5.26705 1.61932 5.72727C1.61932 6.19318 1.69034 6.61648 1.83239 6.99716C1.97727 7.375 2.19034 7.67614 2.47159 7.90057C2.75568 8.12216 3.10795 8.23295 3.52841 8.23295ZM10.8989 11.4545V7.99432H10.8136C10.7398 8.11364 10.6347 8.2642 10.4983 8.44602C10.3619 8.625 10.1673 8.78551 9.91449 8.92756C9.66165 9.06676 9.325 9.13636 8.90455 9.13636C8.35909 9.13636 7.87756 8.99858 7.45994 8.72301C7.04233 8.4446 6.71562 8.05256 6.47983 7.54688C6.24403 7.03835 6.12614 6.4375 6.12614 5.74432C6.12614 5.05682 6.24403 4.46023 6.47983 3.95455C6.71562 3.44886 7.04375 3.05824 7.4642 2.78267C7.88466 2.5071 8.37045 2.36932 8.92159 2.36932C9.34773 2.36932 9.68437 2.44034 9.93153 2.58239C10.1815 2.72159 10.3719 2.88068 10.5026 3.05966C10.6361 3.2358 10.7398 3.38068 10.8136 3.49432H10.933V2.45455H11.9045V11.4545H10.8989ZM9.04091 8.23295C9.44432 8.23295 9.78523 8.12784 10.0636 7.91761C10.342 7.70455 10.5537 7.41051 10.6986 7.03551C10.8435 6.65767 10.9159 6.22159 10.9159 5.72727C10.9159 5.23864 10.8449 4.81108 10.7028 4.4446C10.5608 4.07528 10.3506 3.78835 10.0722 3.58381C9.79375 3.37642 9.45 3.27273 9.04091 3.27273C8.61477 3.27273 8.25966 3.3821 7.97557 3.60085C7.69432 3.81676 7.48267 4.1108 7.34062 4.48295C7.20142 4.85227 7.13182 5.26705 7.13182 5.72727C7.13182 6.19318 7.20284 6.61648 7.34489 6.99716C7.48977 7.375 7.70284 7.67614 7.98409 7.90057C8.26818 8.12216 8.62045 8.23295 9.04091 8.23295ZM16.0705 6.32386V2.45455H17.0761V9H16.0705V7.89205H16.0023C15.8489 8.22443 15.6102 8.5071 15.2864 8.74006C14.9625 8.97017 14.5534 9.08523 14.0591 9.08523C13.65 9.08523 13.2864 8.99574 12.9682 8.81676C12.65 8.63494 12.4 8.36222 12.2182 7.99858C12.0364 7.6321 11.9455 7.17045 11.9455 6.61364V2.45455H12.9511V6.54545C12.9511 7.02273 13.0847 7.40341 13.3517 7.6875C13.6216 7.97159 13.9653 8.11364 14.383 8.11364C14.633 8.11364 14.8872 8.04972 15.1457 7.92188C15.4071 7.79403 15.6259 7.59801 15.802 7.33381C15.981 7.0696 16.0705 6.73295 16.0705 6.32386ZM21.2431 6.32386V2.45455H22.2488V9H21.2431V7.89205H21.1749C21.0215 8.22443 20.7829 8.5071 20.459 8.74006C20.1352 8.97017 19.7261 9.08523 19.2317 9.08523C18.8227 9.08523 18.459 8.99574 18.1408 8.81676C17.8227 8.63494 17.5727 8.36222 17.3908 7.99858C17.209 7.6321 17.1181 7.17045 17.1181 6.61364V2.45455H18.1238V6.54545C18.1238 7.02273 18.2573 7.40341 18.5244 7.6875C18.7942 7.97159 19.138 8.11364 19.5556 8.11364C19.8056 8.11364 20.0599 8.04972 20.3184 7.92188C20.5798 7.79403 20.7985 7.59801 20.9746 7.33381C21.1536 7.0696 21.2431 6.73295 21.2431 6.32386ZM22.4271 9V0.272727H23.4328V3.49432H23.518C23.5919 3.38068 23.6942 3.2358 23.8249 3.05966C23.9584 2.88068 24.1487 2.72159 24.3959 2.58239C24.6459 2.44034 24.9839 2.36932 25.4101 2.36932C25.9612 2.36932 26.447 2.5071 26.8675 2.78267C27.2879 3.05824 27.6161 3.44886 27.8518 3.95455C28.0876 4.46023 28.2055 5.05682 28.2055 5.74432C28.2055 6.4375 28.0876 7.03835 27.8518 7.54688C27.6161 8.05256 27.2893 8.4446 26.8717 8.72301C26.4541 8.99858 25.9726 9.13636 25.4271 9.13636C25.0067 9.13636 24.67 9.06676 24.4172 8.92756C24.1643 8.78551 23.9697 8.625 23.8334 8.44602C23.697 8.2642 23.5919 8.11364 23.518 7.99432H23.3987V9H22.4271ZM23.4158 5.72727C23.4158 6.22159 23.4882 6.65767 23.6331 7.03551C23.778 7.41051 23.9896 7.70455 24.268 7.91761C24.5464 8.12784 24.8874 8.23295 25.2908 8.23295C25.7112 8.23295 26.0621 8.12216 26.3433 7.90057C26.6274 7.67614 26.8405 7.375 26.9825 6.99716C27.1274 6.61648 27.1999 6.19318 27.1999 5.72727C27.1999 5.26705 27.1288 4.85227 26.9868 4.48295C26.8476 4.1108 26.6359 3.81676 26.3518 3.60085C26.0706 3.3821 25.7169 3.27273 25.2908 3.27273C24.8817 3.27273 24.5379 3.37642 24.2595 3.58381C23.9811 3.78835 23.7709 4.07528 23.6288 4.4446C23.4868 4.81108 23.4158 5.23864 23.4158 5.72727ZM28.0803 9V0.272727H29.0859V3.49432H29.1712C29.245 3.38068 29.3473 3.2358 29.478 3.05966C29.6115 2.88068 29.8018 2.72159 30.049 2.58239C30.299 2.44034 30.6371 2.36932 31.0632 2.36932C31.6143 2.36932 32.1001 2.5071 32.5206 2.78267C32.9411 3.05824 33.2692 3.44886 33.505 3.95455C33.7408 4.46023 33.8587 5.05682 33.8587 5.74432C33.8587 6.4375 33.7408 7.03835 33.505 7.54688C33.2692 8.05256 32.9425 8.4446 32.5249 8.72301C32.1072 8.99858 31.6257 9.13636 31.0803 9.13636C30.6598 9.13636 30.3232 9.06676 30.0703 8.92756C29.8175 8.78551 29.6229 8.625 29.4865 8.44602C29.3501 8.2642 29.245 8.11364 29.1712 7.99432H29.0518V9H28.0803ZM29.0689 5.72727C29.0689 6.22159 29.1413 6.65767 29.2862 7.03551C29.4311 7.41051 29.6428 7.70455 29.9212 7.91761C30.1996 8.12784 30.5405 8.23295 30.9439 8.23295C31.3643 8.23295 31.7152 8.12216 31.9964 7.90057C32.2805 7.67614 32.4936 7.375 32.6357 6.99716C32.7805 6.61648 32.853 6.19318 32.853 5.72727C32.853 5.26705 32.782 4.85227 32.6399 4.48295C32.5007 4.1108 32.2891 3.81676 32.005 3.60085C31.7237 3.3821 31.37 3.27273 30.9439 3.27273C30.5348 3.27273 30.1911 3.37642 29.9126 3.58381C29.6342 3.78835 29.424 4.07528 29.282 4.4446C29.1399 4.81108 29.0689 5.23864 29.0689 5.72727ZM38.1141 9V9.9375H32.6595V9H38.1141Z"
              fill="white"></path>
          </svg>
          </a>
          <button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-accent-300 focus:outline-none focus:text-white md:hidden"
          >
            <svg
              class="w-6 h-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              >
              </path>
              <path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              >
              </path>
            </svg>
          </button>
        </div>
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
        >
          <ul
            class="space-y-2 list-none text-sm text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3 lg:gap-6"
          >
            <li>
              <a href="#work" class="hover:text-accent-400"> Work</a>
            </li>
            <li>
              <a href="#how" class="hover:text-accent-400"> How it works</a>
            </li>
            <li>
              <a href="#pricing" class="hover:text-accent-400"> Pricing</a>
            </li>
            <li>
              <a href="#faq" class="hover:text-accent-400"> Faq</a>
            </li>
            <li>
              <a
                href="https://app.qquubb.com/sign-in"
                class="text-sm py-2 w-auto px-4 border h-8 focus:ring-2 rounded-full border-transparent bg-white/5 hover:bg-transparent text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-white/10"
              >
                Log in</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
