<div class="fixed top-4 inset-x-0 z-50">
  <div class="lg:max-w-2xl mx-auto px-8">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-3 mx-auto bg-black/70 ring-1 ring-inset ring-white/10 shadow-thick backdrop-blur-xl backdrop-filter rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-white hover:text-white/50 items-center gap-3 inline-flex italic font-black uppercase text-sm"
            href="/"
          >
            <svg
              class="w-8 h-8"
              viewBox="0 0 109 109"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="50" y="2.18005" width="9.45" height="39.785" fill="white"
              ></rect>
              <circle
                cx="54.5"
                cy="54.5"
                r="49.02"
                stroke="white"
                stroke-width="10.96"></circle>
            </svg>
            <span>NeuePower</span>
          </a>
          <button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-accent-300 focus:outline-none focus:text-white md:hidden"
          >
            <svg
              class="w-6 h-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              >
              </path>
              <path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              >
              </path>
            </svg>
          </button>
        </div>
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
        >
          <ul
            class="space-y-2 list-none text-sm text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3 lg:gap-6"
          >
            <li>
              <a href="#work" class="hover:text-accent-400"> Work</a>
            </li>
            <li>
              <a href="#how" class="hover:text-accent-400"> How it works</a>
            </li>
            <li>
              <a href="#pricing" class="hover:text-accent-400"> Pricing</a>
            </li>
            <li>
              <a href="#faq" class="hover:text-accent-400"> Faq</a>
            </li>
            <li>
              <a
                href="https://app.neuepower.com/sign-in"
                class="text-sm py-2 w-auto px-4 border h-8 focus:ring-2 rounded-full border-transparent bg-white/5 hover:bg-transparent text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-white inline-flex items-center justify-center ring-1 ring-white/10"
              >
                Log in</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
