<div class="fixed top-2 lg:bottom-2 lg:top-auto inset-x-0 z-50">
  <div class="max-w-4xl mx-auto px-4">
    <div class="w-full mx-auto">
      <div
        x-data="{ open: false }"
        class="relative flex flex-col w-full p-4 mx-auto bg-black uppercase rounded-2xl md:items-center md:justify-between md:flex-row">
        <div
          class="flex flex-row items-center justify-between md:justify-start">
          <a
            class="text-white hover:text-white/50 gap-4 items-center tracking-tighter inline-flex font-medium ml-2 text-xl"
            href="/">
            Gurido</a
          ><button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-white hover:text-cyan-300 focus:outline-none focus:text-white md:hidden"
            ><svg
              class="w-6 h-6"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
              ><path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path><path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path></svg
            ></button
          >
        </div><nav
          :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row">
          <ul
            class="space-y-4 list-none text-xs lg:text-sm text-white md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3">

            <li>
              <a
                href="#work"
                class="hover:text-white shrink-0">
                Work</a
              >
            </li>
            <li>
              <a
                href="#how"
                class="hover:text-white shrink-0">
                How it works</a
              >
            </li>
            <li>
              <a
                href="#pricing"
                class="hover:text-white shrink-0">
                Plans</a
              >
            </li><li>
              <a
                href="#faq"
                class="hover:text-white shrink-0">
                Faq</a>
            </li><li>
                <a
                  href="https://lexingtonthemes.com/"
                  class="hover:text-white shrink-0">
                  More Templates</a
                >
              </li><li class="shrink-0">
              <a
                href="https://github.com/michael-andreuzza/gurido"
                class="py-2 w-auto px-4 border-2 h-8 lg:h-10 lg:px-6 focus:ring-2 rounded-lg border-white bg-white hover:bg-transparent text-black duration-200 focus:ring-offset-2 hover:text-white inline-flex items-center justify-center ring-2 focus:ring-black ring-transparent">
                Github</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
